[Unit]
Description=Fix WiFi on boot if SDIO init failed
Before=pwnagotchi.service
After=systemd-modules-load.service
DefaultDependencies=no

[Service]
Type=oneshot
RemainAfterExit=yes
TimeoutStartSec=60
ExecStart=/usr/local/bin/fix_ndev_on_boot.sh

[Install]
WantedBy=multi-user.target
